<apex:page standardController="Opportunity">
  <apex:includeScript value="/support/console/36.0/integration.js"/>
  <apex:form id="frm">
  
  <script>
  
     window.onload = disableClosingTab();
  
     function enableClosingTab() { 

         sforce.console.disableTabClose(false,getEncloseTabId());
     } 
     
     
      // Disable the closing tab
     function disableClosingTab() {
        sforce.console.setTabTitle('{!Opportunity.Name}');
        sforce.console.disableTabClose(true,getEncloseTabId());
        
    }
     
     
     function getEncloseTabId() {
        sforce.console.getEnclosingTabId();
     } 
  
     function redirectOnCancel(){
        enableClosingTab();
        
        if (sforce.console.isInConsole()) {
         
                sforce.console.setTabTitle('Salesforce-Unlimited Edition');
                srcSelf('/home/home.jsp?isdtp=vw'); 

        }
        else{
      
               window.location.href = '/home/home.jsp';
          
        }   
    }
  
  
  
    function enableCloseTab(cmd) {
  
        if (cmd=='submit' || cmd== 'cancel'){
            enableClosingTab();        
         }   
        return false;   
    }
  
  </script>
  
  
   <apex:actionFunction name="save" action="{!save}" rerender="frm">
   </apex:actionFunction>
    <apex:pageblock >
    
    <apex:pageBlockButtons >
      <apex:commandButton onClick="enableCloseTab('submit'); save(); return false;" value="Submit" id="submit" />
      <apex:commandButton onClick="enableCloseTab('cancel');" action="{!cancel}"  value="Cancel" id="cancel" />
    </apex:pageBlockButtons>
    
    <apex:pageblocksection >
    
    <apex:inputfield value="{!Opportunity.Name}" />
    <apex:inputfield value="{!Opportunity.AccountId}" />
    <apex:inputfield value="{!Opportunity.StageName}" />
    <apex:inputfield value="{!Opportunity.CloseDate}" />
   
    </apex:pageblocksection>
    
    </apex:pageblock>
  
  
  
  </apex:form>
  
  
  
</apex:page>